.eclipse {
    border-radius: 10px;
    background-color: #FFF;
}
svg {
    color: #FFF;
}
.poster{
    margin-bottom: 15px;
}

.poster img {
    width: 250px;
    height: 370px;
    flex-shrink: 0;
    border-radius: 10px;
}
.movie {
    display: inline-block;
    width: 250px;
    margin-right: 30px;
    position: relative;
    vertical-align: top;
    margin-bottom: 55px;
    margin-left: 30px;
}
.movie {
    transition: transform 0.3s ease-in-out;
}

.movie:hover {
    transform: scale(1.05);
}
.movie .favorite {
    position: absolute;
    top: 15px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.movie .favorite .heart{
    position: absolute;
    bottom: 10%;
    background-color: #FFF;
}
.movie .favorite:hover .heart path{
    transition: 0.5s;
    fill: #E11D48;
}
.movie .details {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.movie .details .date {
    color: var(--gray-400, #9CA3AF);
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.movie .details .title {
    color: #FFF;
font-family: DM Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.movie .details .rating {
    display: flex;
    justify-content: space-between;
}
.movie .details .rating .imdb {
    display: flex;
    gap: 5px;
    align-items: flex-start;
}
.movie .details .rating .imdb p {
    color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 12px;
}

.imdb span{
    color: #ffd700;
}