/*  !!!!!!    RESOLUTION 70% DE LA PAGE  !!!!!*/
/*  !!!!!!    a cause *PEUT ETRE* de la barre du navigateur la page ne commence pas a top:0 et left: 0   !!!!!*/
.trending {
    padding: 20px;
    margin-left: 300px;
    margin-top: 1000px;
  }
  
  .card-list{
      display: flex;
      display: block;
      gap: 20px;
  }
